{% load static %}

{% include 'header.html' %}

<body class="grey lighten-2">
  {% if object %}
  <h1 class="center-align">
    Edit {{object.description}} expense
  </h1>
  {% else %}
  <h1 class="center-align">Add Expense</h1>
  {% endif %}
  <form class="container" action="" method="post">
    {% csrf_token %}
    <div class="row">
    <table>
      {{ form.as_table }}
    </table>
    </div>
    <div class="row center-align">
        <div>
          <input type="submit" value="Submit!" class="btn blue darken-4" />
          <a class="btn blue darken-4" href="{% url 'budget' %}">Cancel</a>
        </div>
      </div>
    </div>
  </form> 
</body>

{% include 'footer.html' %}
