{% load static %}

{% include 'header.html' %}

<body class="grey lighten-2">
  <h1 class="center-align">Delete Confirmation</h1>
  <h4 class="center-align">
    Are you sure you want to delete
    <span>
        <div class="container">
      <div class="col s12 m4 ">
        <div class="card-panel z-depth-5 center-align">
          <table class="container centered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Company</th>
                <th>Description</th>
                <th>Price</th>
                <th>House</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ object.date}}</td>
                <td>{{ object.company }}</td>
                <td>{{ object.description }}</td>
                <td>${{ object.cost }}</td>
                <td>{{ object.house }}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </span>
  </h4>
  <form class="center-align" action="" method="POST">
    {% csrf_token %}
    <input class="btn red" type="submit" value="Delete!" />
    <a class="btn blue darken-4" href="{% url 'budget' %}">Cancel</a>
  </form>
</body>

{% include 'footer.html' %}
