{% load static %} {% include 'header.html' %} {% comment %} ----- Bootsrap -----
{% endcomment %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>

{% comment %} ----- Materialize {% endcomment %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body class="grey lighten-2">
  <h1 class="center-align">Delete Confirmation</h1>
  <h4 class="center-align">
    Are you sure you want to delete
    <span>{{ object.name }}</span>?
  </h4>
  <h5 class="center-align">phone: {{ object.phone}}</h5>
  <h5 class="center-align">Business: {{ object.business}}</h5>
  <h5 class="center-align">Notes: {{ object.notes}}</h5>
  <form class="center-align" action="" method="POST">
    {% csrf_token %}
    <input class="btn red" type="submit" value="Delete!" />
    <a class="btn blue darken-4" href="{% url 'homes_index' %}">Cancel</a>
  </form>
</body>

{% include 'footer.html' %}
