{% load static %}

{% include 'header.html' %}

<body class="grey lighten-2">
  {% if object %}
  <h1 class="center-align">
    Edit <span>{{ object.nickname }}</span>
  </h1>
  {% else %}
  <h1 class="center-align">Add Home</h1>
  {% endif %}
  <form class="container" action="" method="post">
    {% csrf_token %}
    <div class="row">
      <table>
        {{ form.as_table }}
      </table>
    </div>
    <div class="center-align">
      <input type="submit" value="Submit!" class="btn blue darken-4" />
      <a class="btn blue darken-4" href="{% url 'homes_index' %}">Cancel</a>
    </div>
    </div>
  </form>
</body>

{% include 'footer.html' %}
