{% load static %} {% include 'header.html' %}

<body class="grey lighten-2">
  <h1 class="center-align">Delete Confirmation</h1>
  <h4 class="center-align">Are you sure you want to delete</h4>
  <div class="container center-align">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img card-panel" src="{{object.url}}" />
        </div>
      </div>
    </div>
  </div>

  <form class="center-align" action="" method="POST">
    {% csrf_token %}
    <input class="btn red" type="submit" value="Delete!" />
    <a class="btn blue darken-4" href="{% url 'profile' %}">Cancel</a>
  </form>
</body>

{% include 'footer.html' %}
