{% load static %} {% include 'header.html' %} {% comment %} ----- Bootsrap -----
{% endcomment %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>

{% comment %} ----- Materialize {% endcomment %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body class="grey lighten-2">
  <h1 class="center-align">Contact Details</h1>

  <div class="row container">
    <div class="col s12 m12">
      <div class="card-panel z-depth-5">
        <div class="row">
          <table>
            <tbody>
              <tr>
                <td>
                  <h5>Name:</h5>
                  <p style="text-indent: 25px">{{ contact.name }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Phone number:</h5>
                  <p style="text-indent: 25px">{{ contact.phone }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Business Name:</h5>
                  <p style="text-indent: 25px">{{ contact.business }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Type of Service:</h5>
                  <p style="text-indent: 25px">{{ contact.service }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Notes:</h5>
                  <p style="text-indent: 25px">{{ contact.notes }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col m4">
            <a
              class="btn blue darken-4"
              href="{% url 'update_contact' contact.id %}"
              >Edit Contact</a
            >
            <a class="btn red" href="{% url 'delete_contact' contact.id %}"
              >Delete</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row container">
    <div class="col m6">
      <a class="btn blue darken-4" href="{% url 'profile' %}"
        >Back to profile</a
      >
    </div>
  </div>
</body>

{% include 'footer.html' %}
