{% load static %} {% include 'header.html' %}

<body class="grey lighten-2">
  <div class="center-align">
    <h1>Homeypro</h1>
    <hr />
  </div>

  <div>
    <h2>What is Homeypro:</h2>
    <p class="flow-text" style="text-indent: 25px">
      Create multiple locations (houses) that each have their own renovation
      projects. Keep track of all important details, schedule, contact
      information, and before & after photos
    </p>
  </div>

  <div class="row container">
    <div class="col s12 m4">
      <a href="{% url 'signup'%}">
        <div class="card-panel z-depth-5 center-align hoverable">
          <div>
            <i class="large material-icons black-text">add</i>
          </div>
          <span class="black-text"> Sign up </span>
        </div>
      </a>
    </div>
    <div class="col s12 m4">
      <a href="{% url 'login'%}">
        <div class="card-panel z-depth-5 center-align hoverable">
          <div>
            <i class="large material-icons black-text">login</i>
          </div>
          <span class="black-text"> login </span>
        </div>
      </a>
    </div>
    <div class="col s12 m4">
      <a href="{% url 'profile'%}">
        <div class="card-panel z-depth-5 center-align hoverable">
          <div>
            <i class="large material-icons black-text">account_circle</i>
          </div>
          <span class="black-text"> Your Profile </span>
        </div>
      </a>
    </div>
  </div>

  <div class="center-align">
    <p>for Demo use</p>
    <p>username: demo</p>
    <p>password: demo1234</p>
  </div>
</body>

{% include 'footer.html' %}
