{% load static %} {% include 'header.html' %}

<body class="grey lighten-2">
  <div class="center-align">
    <h1>All Photos</h1>
    <hr />
  </div>
  <div class="row">
    {% for photo in photo %}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img card-panel" src="{{photo.url}}" />
          <a href="{% url 'project_detail' photo.project.id %}">
            <span class="card-title hoverable">
              {{ photo.project.name }} in {{ photo.project.home.nickname }}
            </span>
          </a>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col m6">
      <a class="btn blue darken-4" href="{% url 'profile'%}">Back to Profile</a>
    </div>
  </div>
</body>

{% include 'footer.html' %}
