{% load static %}

{% include 'header.html' %}

<body class="grey lighten-2">

  <h1 class="center-align">Your Profile</h1>

  {% comment %} grid for Homes {% endcomment %}
  <div class="row">
    <div class="col s4">
      <h4 class="center">Homes</h4>
      <table class="highlight centered"> 
        <thead>
          <tr>
            <th>Home Nickname</th>
            <th>Address</th>
            <th>City</th>
          </tr>
        </thead>
        {% for home in homes %}
        <tbody>
          <tr>
            <td>
              <a class="blue-text text-darken-4 btn-flat" href="{% url 'homes_detail' home.id %}">{{ home.nickname }}</a>
            </td>
            <td>{{ home.address }}</td>
            <td>{{ home.city }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
    {% comment %} end of grid for Homes {% endcomment %}

    {% comment %} grid for projects {% endcomment %}
    <div class="col s4">
      <h4 class="center">Projects</h4>
      <table class="highlight centered">
        <thead>
          <tr>
            <th>Project</th>
            <th>House</th>
            <th>Budget</th>
          </tr>
        </thead>
        {% for project in projects %}
        <tbody>
          <tr>
            <td>
              <a class="blue-text text-darken-4 btn-flat" href="{% url 'project_detail' project.id %}">{{ project.name }}</a>
            </td>
            <td>{{ project.home.nickname }}</td>
            <td>{{ project.budget }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% comment %} end of grid for projects {% endcomment %}

    {% comment %} grid for contacts {% endcomment %}
    <div class="col s4">
      <h4 class="center">Contacts</h4>
      <table class="highlight centered">
        <thead>
          <tr>
            <th>Contact's Name</th>
            <th>business</th>
            <th>number</th>
          </tr>
        </thead>
        {% for contact in contacts %}
        <tbody>
          <tr>
            <td>
              <a class="blue-text text-darken-4 btn-flat" href="{% url 'contacts_detail' contact.id %}">{{ contact.name }}</a>
            </td>
            <td>{{ contact.business }}</td>
            <td>{{ contact.phone }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  </div>
  {% comment %} end grid for contacts {% endcomment %}

  {% comment %} buttons for adding a house, contact, and list os houses {% endcomment %}
  <div class="row container">
    <div class="col s12 m4">
      <a href="{% url 'budget'%}">
        <div class="card-panel z-depth-5 center-align hoverable">
          <div>
            <i class="large material-icons black-text">description</i>
          </div>
          <span class="black-text"> Expenses </span>
        </div>
      </a>
    </div>
    <div class="col s12 m4">
      <a href="{% url 'photos_index'%}">
        <div class="card-panel z-depth-5 center-align hoverable">
          <div>
            <i class="large material-icons black-text">photo_library</i>
          </div>
          <span class="black-text"> All Photos </span>
        </div>
      </a>
    </div>
    <div class="col s12 m4">
      <a href="{% url 'create_contact' %}">
        <div class="card-panel z-depth-5 center-align hoverable">
          <div>
            <i class="large material-icons black-text">contact_page</i>
          </div>
          <span class="black-text"> Add Contacts </span>
        </div>
      </a>
    </div>
  </div>

</body>

{% include 'footer.html' %}