{% load static %}

<header>{% include 'header.html' %}</header>

<body>

  <h1 class="center-align">Your Profile</h1>

  {% comment %} grid for Homes {% endcomment %}
  <div class="row">
    <div class="col s4">
      <h4 class="center">Homes</h4>
      <table class="highlight centered"> 
        <thead>
          <tr>
            <th>Home Nickname</th>
            <th>Address</th>
            <th>Item Price</th>
          </tr>
        </thead>
        {% for home in homes %}
        <tbody>
          <tr>
            <td>
              <a class="black-text" href="{% url 'homes_detail' home.id %}">{{ home.nickname }}</a>
            </td>
            <td>{{ home.address }}</td>
            <td>{{ home.id }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
    {% comment %} end of grid for Homes {% endcomment %}

    {% comment %} grid for projects {% endcomment %}
    <div class="col s4">
      <h4 class="center">Projects</h4>
      <table class="highlight centered">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>House</th>
            <th>Budget</th>
          </tr>
        </thead>
        {% for project in projects %}
        <tbody>
          <tr>
            <td>
              <a class="black-text" href="{% url 'project_detail' project.id %}">{{ project.name }}</a>
            </td>
            <td>{{ project.home.nickname }}</td>
            <td>{{ project.budget }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
    {% comment %} end of grid for projects {% endcomment %}

    {% comment %} grid for contacts {% endcomment %}
    <div class="col s4">
      <h4 class="center">Contacts</h4>
      <a href="{% url 'create_contact' %}">add Contacts</a>
      <table class="highlight centered">
        <thead>
          <tr>
            <th>Contacts Name</th>
            <th>business</th>
            <th>number</th>
          </tr>
        </thead>
        {% for contact in contacts %}
        <tbody>
          <tr>
            <td>
              <a class="black-text" href="{% url 'contacts_detail' contact.id %}">{{ contact.name }}</a>
            </td>
            <td>{{ contact.business }}</td>
            <td>{{ contact.phone }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  </div>
  {% comment %} end grid for contacts {% endcomment %}

  {% comment %} Hide / show form {% endcomment %}
      <button class="btn" onclick="myFunction()">Add Project</button>
      <div id="myDIV" style="display:none">
        <p>WOrking</p>
      </div>

</body>