{% load static %}

<script>
  $(document).ready(function () {
    $("ul.tabs").tabs();
  });
</script>

{% include 'header.html' %}

<body>
  <div class="">
    <h1 class="center-align">{{ project.name}}</h1>
    <p>Project Name: {{ project.name }}</p>
    <p>Budget: {{ project.budget }}</p>
    <p>Home: {{ project.home }}</p>
    <p>Project Start Date: {{ project.start_date }}</p>
    <p>Project End Date {{ project.end_date }}</p>
    <p>Project Notes: {{ project.notes }}</p>
  </div>

  <a class="btn blue darken-4" href="{% url 'update_project' project.id %}"
    >Edit Project</a
  >
  <a class="btn red" href="{% url 'delete_project' project.id %}">Delete</a>

  {% comment %} photo upload form {% endcomment %}
  <div class="row">
    <div class="col s4">
      <form
        action="{% url 'add_photo' project.id %}"
        enctype="multipart/form-data"
        method="POST"
        class="card-panel"
      >
        {% csrf_token %}
        <input type="file" name="photo-file" />
        <br /><br />
        <input type="submit" class="btn blue darken-4" value="Upload Photo" />
      </form>
    </div>
  </div>

  {% comment %} displaying photos {% endcomment %}
  <div class="row">
    {% for photo in project.photo_set.all %}
    <div class="col s12 m4">
      <div class="card-image center-align">
        <img class="responsive-img card-panel" src="{{photo.url}}" />
      </div>
    </div>
    {% empty %} {% comment %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endcomment %}
    <p>No photos</p>
    {% endfor %}
  </div>

  {% comment %} edit, delete, back buttons {% endcomment %}
  <div class="m6">
    <input
      class="btn blue darken-4"
      value="Back to {{ project.home.nickname }}"
      onClick="javascript:history.go(-1);"
    />
  </div>
</body>

{% include 'footer.html' %}
