{% load static %} {% include 'header.html' %} {% comment %} ----- Bootsrap -----
{% endcomment %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>

{% comment %} ----- Materialize {% endcomment %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<body class="grey lighten-2">
  {% for project in projects %}

  <div class="card hoverable grey lighten-3">
    <a href="{% url 'project_detail' project.id %}">
      <div class="card-content">
        <span class="card-title green-text text-darken-4"
          >{{ project.name }}</span
        >
      </div>
    </a>
  </div>

  {% empty %}

  <div class="card">
    <div class="card-content">
      <span class="card-title">No project</span>
    </div>
  </div>

  {% endfor %}
</body>

{% include 'footer.html' %}
