{% load static %}

<header>{% include 'header.html' %}</header>

<body>
  <div class="center-align">
    <h1>{{ home.nickname }}</h1>
    <a class="btn" href="{% url 'update_home' home.id %}">Edit Home</a>
    <a class="btn" href="{% url 'delete_home' home.id %}">Delete Home</a>
  </div>

    {% comment %} Home info grid {% endcomment %}
          <div class="row container">
            <div class="col s3">
              <p>{{ home.bedrooms}} <i class="medium material-icons">bed</i></p>
              <p>Bedrooms</p>
            </div>
            <div class="col s3">
              <p>
                {{ home.bathrooms}} &nbsp; <i class="medium material-icons">bathtub</i>
              </p>
              <p>Bathrooms</p>
            </div>
            <div class="col s3">
              <p>
                {{ home.square_feet}} &nbsp;
                <i class="medium material-icons">square_foot</i>
              </p>
              <p>Square feet</p>
            </div>
            <div class="col s3">
              <p>
                {{ home.year_built}} &nbsp;
                <i class="medium material-icons">schedule</i>
              </p>
              <p>Year built</p>
            </div>
          </div>
        </div>
        {% comment %} end of info grid {% endcomment %}


  <h1>Home Projects</h1>

  <a class="btn" href="{% url 'create_project' %}">add Project</a>

  {% comment %} -------------------- List showing projects of the home {% for
  project in home.projects.all %}
  <div class="card-panel hoverable grey lighten-3">
    <a href="{% url 'projects_detail' project.id %}">
      <div class="card-content green-text text-darken-4">
        <span class="card-title">Project</span>
        <p>{{ project.name }}</p>
      </div>
    </a>
  </div>

  {%empty%}
  <div>No projects</div>
  {% endfor %} {% endcomment %}
</body>
