{% load static %} {% include 'header.html' %}

<body class="grey lighten-2">
  <div class="row">
    {% for home in homes %}
    <div class="col s12 m6">
      <div class="small card">
        <div class="card-content">
          <span class="card-title"><h3>{{ home.nickname }}</h3></span>
          <h5>{{ home.address }}, {{ home.city }}, {{ home.state}}.</h5>
        </div>
        <a href="{% url 'homes_detail' home.id %}">
          <div class="card-action hoverable blue-text text-darken-4">
            More details
          </div>
        </a>
      </div>
    </div>
    {%empty%}
    <div>No homes</div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col m6">
      <a class="btn blue darken-4" href="{% url 'create_home'%}">Add a home</a>
    </div>
  </div>
</body>

{% include 'footer.html' %}
