{% load static %}

<header>{% include 'header.html' %}</header>

<body>
  <div class="row">
    {% for home in homes %}
    <div class="col s12 m6">
      <div class="small card black">
        <div class="card-content white-text">
          <span class="card-title">{{ home.nickname }}</span>
          <p>{{ home.address }}, {{ home.city }}, {{ home.state}}.</p>
        </div>
        <a href="{% url 'homes_detail' home.id %}">
          <div class="card-action hoverable amber-text text-darken-2">
            More details
          </div>
        </a>
      </div>
    </div>
    {%empty%}
    <div>No homes</div>
    {% endfor %}
  </div>
</body>

{% include 'footer.html' %}
